@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-span::after {
  content: "";
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform-origin: left center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
}

.custom-span:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.custom-transition {
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.viewerContainer {
  margin-top: 30px;
  display: grid;
  padding: 30px 0 26px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 50px;
}